<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Artists</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styleArtist.css' %}">
</head>
<body>
<h1>Vedi gli artisti della Piattaforma</h1>
<div class = artist-container>
    {% for artist in artist %}
        <div class="artist-card">
            <img alt="artist" src="{{artist.image.url}}">
            <h3>{{artist.name}}</h3>
            <p>{{artist.artName}}</p>
            <h4>Canzoni:</h4>
            <ul>{% for song in song %}
                {% if song.artist == artist %}
                <li>{{song.title}}</li>
            {% endif %}
                {% endfor %}

            </ul>
        </div>
        {% empty %}
        <p>Non ci sono artisti</p>
    {% endfor %}
</div>


</ul>>
</body>
</html>